.Player {
  text-align: center;
  margin: 50px;
  border: 2px solid #4b4a4a;
  border-radius: 4px;
}

.input-row {
  margin-bottom: 20px;
}

/* Styles for Screen 2 */
.Lobby {
  text-align: center;
  margin: 50px;
  border: 2px solid #4b4a4a;
  border-radius: 4px;
}

.lobby-table {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.lobby-table th,
.lobby-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.lobby-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.thumbs-up-button,
.thumbs-down-button {
  padding: 0;
  background-color: transparent;
  border: 2px solid #4b4a4a;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.thumbs-up-button:hover,
.thumbs-down-button:hover {
  color: #007bff;
  border-color: #007bff;
}

/* Shared styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__button {
  padding: 10px;
  background-color: #f8c10c;
  border: 1px solid #ccc;
  cursor: pointer;
}

.dropdown__list {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  display: none;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown__list li {
  padding: 10px;
  cursor: pointer;
}

.dropdown__list li:hover {
  background-color: #f0f0f0;
}

.dropdown__list li.selected {
  background-color: #f0f0f0;
}

.dropdown.open .dropdown__list {
  display: block;
}

.rating__text {
  color: #f8c10c;
  font-weight: bold;
}

.searching__text {
  color: #007bff;
  font-weight: bold;
}

.question__container {
  position: relative;
  display: inline-block;
}

.question__button {
  padding: 5px 10px;
  border: none;
  background-color: #b4d3f5;
  color: #ffea00;
  font-weight: bold;
  font-size: 16px;
  cursor: help;
}

.question__popup {
  text-align: left;
  font-weight: normal;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  display: none;
  width: 500px;
  padding: 10px;
  background-color: #b4d3f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #000000;
  overflow: auto;
}

.question__container:hover .question__popup {
  display: block;
}

.profile-icon {
  transform: scale(1.5);
}

.drawer-content {
  margin-bottom: 5em;
  height: 100vh;
  overflow: 'auto';
}

.feedback-box {
  padding: 2px;
  margin-top: 5px;
}

.username {
  font-size: 2.5em;
}

.gameId {
  font-size: 1em;
}

.rate_selection {
  max-width: 25%;
  margin: 4px;
  padding: 1em;
}

.rating-break {
  width: 70%;
}
/* icon */
/* .icon {
  position: absolute;
  width: 73px;
  height: 73px;
  left: 17px;
  top: 31px;
  border-radius: 50%;
  background: #D9D9D9;
} */
