@import url('https://fonts.googleapis.com/css?family=Days+One');
.Player {
  text-align: center;
  margin: 50px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: rgba(24,3,78, 0.6);
}

.input-row {
  margin-bottom: 20px;
}

/* Styles for Screen 2 */
.Lobby {
  text-align: center;
  margin: 50px;
  border: 2px solid #ffffff;
  border-radius: 4px;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(24,3,78, 0.6);
}

.lobby-table {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}

.lobby-table th,
.lobby-table td {
  padding: 10px;
  border: 1px solid #ffffff;
}

.lobby-table th {
  font-weight: bold;
}

/* Shared styles */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #ffc400;
  color: #420d84;
  border: none;
  cursor: pointer;
}

.disabled {
  font-size: 25px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #420d84;
  /* background-color: rgba(255, 231, 19, 0.2); */
  /* border: 2px solid #ffc400; */
  color: #ffc400;
  border: none;
}

.rating__text {
  color: #f8c10c;
  font-weight: bold;
}

.searching__text {
  color: #ffffff;
  font-weight: bold;
}

.question__container {
  position: relative;
  display: inline-block;
}

.question__button {
  padding: 5px 10px;
  border: none;
  background-color: #ffc400;
  color: #420d84;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.qa-container {
  padding: 0 20px 20px;
  margin-top: 20px;
}

.qa-item {
  margin-bottom: 10px;
}

.qa-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffc400;
  color: #420d84;
  border: none;
  cursor: pointer;
  font-size: 21px;
}

.qa-answer {
  padding: 10px;
  background-color: #420d84;
  color: #ffffff;
  font-size: 20px;
}

.container {
  padding-left: 20px;
}

.title {
  padding: 10px 10px 0;
  margin-bottom: 10px;
}

.back_button {
  margin: 20px;
}

body {
  background-image: url('../../PosiGame Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4e2cb4;
  color: #ffffff;
}

.profile-icon {
  transform: scale(1.5);
  background-color: #ffc400;
}

.drawer-content {
  background-color: #4e2cb4;
  color: #ffffff;
  margin-bottom: 5em;
  height: 100vh;
  overflow: 'auto';
}

.feedback-box {
  background-color: #4e2cb4;
  color: #ffffff;
  border: 2px solid #ffc400;
  margin-top: 5px #4e2cb4;
}

.page-label {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 24px;
  line-height: 19px;
}

.username {
  color: #ffc400;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 35px;
}

.gameId {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 19px;
}

.rate_selection {
  max-width: 25%;
  margin: 4px;
  padding: 1em;
}

.rating-break {
  width: 70%;
}

.button-group {
  background-color: #4e2cb4;
  color: #ffffff;
  padding: 1em;
}

/* icon */
.icon {
  position: absolute;
  width: 117px;
  height: 117px;
  left: 17px;
  top: 31px;
  border-radius: 50%;
  background: #D9D9D9;
}

.profile-div {
  margin-top: 25px;
  margin-left: 150px;
}

.rating-div {
  background-color: #4e2cb4;
  color: #ffffff;
  margin-top: 20px;
  margin-left: 50px;
}

.rating-info {
  display: flex;
  flex-direction: row;
}

.app-title {
  font-family: "Days One", sans-serif;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
  margin-bottom: 5px;
  line-height: 35px;
}

.title-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profile-button {
  color: #ffc400;
  position: absolute;
}

.rated-player {
  width: 90%;
}